<!DOCTYPE html>
<html>
  <head>
    <title>List of objects</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #d9f0ff; /* Another subtle variation in background color */
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h2>{{data|length}} Objects found</h2>
    <table border="1">
      <tr><th>#</th><th>Charter md5</th><th>Image md5</th><th>Class</th><th>Object number (in image)</th></tr>
      {% for imagerects in data %}
      <tr>
        <td>{{loop.index}}</td> 
        <td><a href="{{fsdb_url}}/charter/{{imagerects.4}}">{{imagerects.4}}</a></td>
        <td><a href="{{fsdb_url}}/image/{{imagerects.0}}">{{imagerects.0}}</a></td>
        <td>{{imagerects.3}}</td>
        <td><a href="/crops/{{imagerects.0}}/{{imagerects.1}}">{{imagerects.1}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
