<!DOCTYPE html>
<html>
  <head>
    <title>Object</title>
  </head>
    <body>
        <h2>{{classname}}/{{objectnumber}}</h2>
        <table>
            <tr><td>Class Name</td><td>{{classname}}</td></tr>
            <tr><td>Crop</td><td><a href="/crops/{{imgmd5}}/{{LTRB.0}},{{LTRB.1}},{{LTRB.2}},{{LTRB.3}},?format=jpeg"><img src="/crops/{{imgmd5}}/{{LTRB.0}},{{LTRB.1}},{{LTRB.2}},{{LTRB.3}}?format=jpeg" width="200"/></a></td></tr>
            <tr><td>Image</td><td><a href="{{fsdb_url}}/image/{{imgmd5}}">{{imgmd5}}</a></td></tr>
            <tr><td>Charter</td><td><a href="{{fsdb_url}}/charter/{{chartermd5}}">{{chartermd5}}</a></td></tr>
    </body>
</html>